sofa_src/
sofa_build/
sofa_install/
BeamAdapter_src/
runs_*/
omnisafe_runs/
*.pyc
__pycache__/
*.log
ckpt/torch_save/
ckpt/tb/
data/
ckpt/
tip_probe_s*.csv
figures/
*.pt
figs/
GIT_HASH.txt
*:Zone.Identifier
checkpoints_*.tar.gz
